@charset "UTF-8";

/* 回答はここに書いてね */
.q9_contents {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 16px;
  line-height: 16px;
  border: 5px solid #222;
  border-radius: 30px;
}

.q9_contents::before ,.q9_contents::after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  left: 30px;
  border: 20px solid transparent;
}

.q9_contents::before {
  bottom: -45px;
  border-top: 20px solid #222;
}

.q9_contents::after {
  bottom: -38px;
  border-top: 20px solid #fff;
}
/* 回答はここに書いてね */
