@charset "UTF-8";

/* 回答はここに書いてね */
.q3_content {
  table-layout: fixed;
  width: 100%;
}

.q3_content th, .q3_content td {
  padding: 10px;
  border: solid #dedede 1px;
  text-align: center;
}

.q3_content th {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  background-color: #2244aa;
}

.q3_content td {
  font-size: 16px;
  line-height: 22px;
  vertical-align: middle;
}

tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

tbody tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
